body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table {
  position: relative;
  width: 500px;
}

tbody {
  position: relative;
  left: 198px;
}

tr {
  position: relative;
  width: 500px;
  height: 100px;
}

#tr2 {
  top: -77px;
  left: -50px;
}

#tr3 {
  top: -154px;
  left: -100px;
}

#tr4 {
  top: -231px;
  left: -150px;
}

#tr5 {
  top: -308px;
  left: -200px;
}

td {
  width: 100px;
  height: 100px;
  background-image: url("../resources/grass.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding: 0;
  position: absolute;
}

.td2 {
  top: 25px;
  left: 50px;
}

.td3 {
  top: 50px;
  left: 100px;
}

.td4 {
  top: 75px;
  left: 150px;
}

.td5 {
  top: 100px;
  left: 200px;
}

#cube {
  background-image: url("../resources/step.png");
}